<h1>talk:finished</h1>
<div class="feature">
  <div class="desc"><i class="fa fa-envelope" aria-hidden="true"></i> julian@fahrer.net</div>
  <div class="desc"><i class="fa fa-twitter" aria-hidden="true"></i> @jufahr</div>
  <div class="desc"><i class="fa fa-github" aria-hidden="true"></i> https://github.com/jfahrer</div>
  <div class="desc"><i class="fa fa-file-code-o" aria-hidden="true"></i> https://github.com/jfahrer/cap_talk</div>
  <div class="desc"><i class="fa fa-file-o" aria-hidden="true"></i> https://github.com/jfahrer/dotfiles</div>
</div>
